.cardWrapper {
  position: relative;
}
.img {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  display: block;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.infoWrap {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  bottom: 0;
  background-color: rgba(68, 106, 107, 0.581);
  color: rgb(0, 255, 255);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.infoVisible {
  opacity: 1;
}
.infoLogo {
  padding-right: 15px;
  font-weight: 600;
}
.infoLogo:last-child {
  padding-right: 0;
}
.infoValue {
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 500;
}
